# The URL where your backend Flask server will run
VITE_BACKEND_URL=http://localhost:5000

# Your Razorpay key (You can use the same dummy test key you used in the backend)
VITE_RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxxxx
